aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1603049063623/work
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.10.0
anaconda-project==0.8.3
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argh @ file:///home/conda/feedstock_root/build_artifacts/argh_1595627874344/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1602546592129/work
asn1crypto @ file:///home/conda/feedstock_root/build_artifacts/asn1crypto_1595949944546/work
astroid @ file:///home/conda/feedstock_root/build_artifacts/astroid_1602489036568/work
astropy==4.0.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1599308529326/work
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1596345643597/work
Babel==2.8.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1601745390275/work
bitarray @ file:///home/conda/feedstock_root/build_artifacts/bitarray_1602952024155/work
bkcharts==0.2
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1600454382015/work
blessings==1.7
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1602690183562/work
boto==2.49.0
Bottleneck @ file:///home/conda/feedstock_root/build_artifacts/bottleneck_1602497270979/work
brotlipy==0.7.0
cachetools==4.2.0
-e git+https://github.com/CSU-PAL-biology/calcom.git@7cfcc381c09237b8fcf434066e03445eb0e7d839#egg=calcom
certifi==2020.6.20
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1602537222527/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1602255302199/work
click==7.1.2
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1603140636950/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
clyent==1.2.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
colorcet==2.0.1
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1602876795040/work
conda-verify @ file:///home/conda/feedstock_root/build_artifacts/conda-verify_1603158331327/work
confluent-kafka==1.3.0
contextlib2==0.6.0.post1
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1602614066034/work
cudf==0.15.0
cudf-kafka==0.15.0
cugraph==0.15.0+0.gb34091ac.dirty
cuml==0.15.0
cupy @ file:///home/conda/feedstock_root/build_artifacts/cupy_1598029985691/work
cusignal==0.15.0
cuspatial==0.15.0
custreamz==0.15.0
cuxfilter==0.15.0
cycler==0.10.0
Cython @ file:///home/conda/feedstock_root/build_artifacts/cython_1602367295094/work
cytoolz==0.11.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1602029610262/work
dask-cuda==0.15.0
dask-cudf==0.15.0
dask-xgboost==0.1.5
datashader @ file:///home/conda/feedstock_root/build_artifacts/datashader_1597664023361/work
datashape==0.5.4
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1594679019945/work
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1602493192806/work
docopt==0.6.2
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1602628170095/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1602701739019/work/dist/entrypoints-0.3-py2.py3-none-any.whl
et-xmlfile==1.0.1
experiments==0.1.0
fastavro @ file:///home/conda/feedstock_root/build_artifacts/fastavro_1602462200410/work
fastcache @ file:///home/conda/feedstock_root/build_artifacts/fastcache_1602440434557/work
fastrlock==0.5
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1589994591731/work
Fiona==1.8.13
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1601874335748/work
Flask==1.1.2
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1602700749102/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1602538316091/work
GDAL==3.0.4
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1594925563431/work
gevent @ file:///home/conda/feedstock_root/build_artifacts/gevent_1602542983642/work
glob2==0.7
gmpy2==2.1.0b1
google-auth==1.24.0
gpustat==0.6.0
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1602289219583/work
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1602551890461/work
HeapDict==1.0.1
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imagecodecs @ file:///home/conda/feedstock_root/build_artifacts/imagecodecs_1602637304523/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
imagesize==1.2.0
imbalanced-learn==0.7.0
imblearn==0.0
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1602263269022/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1602787548014/work
intervaltree==3.0.2
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1602682806089/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1602640391633/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1599554010055/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1602591728846/work
itsdangerous==1.1.0
jdcal==1.4.1
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1592619931925/work
jeepney==0.4.3
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1601671685479/work
JPype1==1.2.0
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1598486169312/work
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1598728807792/work
jupyter-core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1602537278122/work
jupyter-server-proxy @ file:///home/conda/feedstock_root/build_artifacts/jupyter-server-proxy_1590048206892/work
jupyterlab==2.2.8
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1593951277307/work
keyring @ file:///home/conda/feedstock_root/build_artifacts/keyring_1602701093864/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1602517217273/work
kubernetes==12.0.1
lazy-object-proxy==1.4.3
libarchive-c @ file:///home/conda/feedstock_root/build_artifacts/python-libarchive-c_1602422626685/work
llvmlite==0.34.0
locket==0.2.0
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1603104847982/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1603150870071/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1602267312178/work
matlabengineforpython===R2020b
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1602600751051/work
mccabe==0.6.1
missingpy==0.2.0
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1602381748886/work
mkl-fft==1.2.0
mkl-random==1.2.0
mkl-service==2.3.0
mock @ file:///home/conda/feedstock_root/build_artifacts/mock_1602394922444/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1598643641143/work
mpld3==0.5.1
mpmath==1.1.0
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1602380756791/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1602413132207/work
multipledispatch==0.6.0
munch==2.5.0
navigator-updater==0.2.1
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1602859080374/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert_1602715394210/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1602732862338/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1601342677072/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
nltk==3.4.4
nose @ file:///home/conda/feedstock_root/build_artifacts/nose_1602434998960/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1602720145052/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1599084802945/work
numexpr @ file:///home/conda/feedstock_root/build_artifacts/numexpr_1602670550279/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1603047562340/work
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1601580905698/work
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1598029012711/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1602502752693/work
pandocfilters==1.4.2
panel @ file:///home/conda/feedstock_root/build_artifacts/panel_1592920888719/work
param==1.9.3
parso==0.7.0
partd==1.1.0
path @ file:///home/conda/feedstock_root/build_artifacts/path_1602413235312/work
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1602708613948/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1603219298745/work
plotly==4.11.0
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1602337412046/work
ply==3.11
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1602524994744/work
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1602264044857/work
ptyprocess==0.6.0
py @ file:///home/conda/feedstock_root/build_artifacts/py_1593088446458/work
pyarrow==0.17.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1602277853001/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyct==0.4.6
pycurl==7.43.0.5
pydeck @ file:///home/conda/feedstock_root/build_artifacts/pydeck_1596597939047/work
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1598747747227/work
pyee @ file:///home/conda/feedstock_root/build_artifacts/pyee_1601273176314/work
pyflakes==2.2.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1600347314331/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1602598019266/work
pynvml @ file:///home/conda/feedstock_root/build_artifacts/pynvml_1594169898909/work
pyodbc @ file:///home/conda/feedstock_root/build_artifacts/pyodbc_1602326599368/work
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyppeteer @ file:///home/conda/feedstock_root/build_artifacts/pyppeteer_1600514859019/work
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1588596072923/work
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1602259974442/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1602326928339/work
pytest==6.1.1
python-dateutil==2.8.1
python-jsonrpc-server @ file:///home/conda/feedstock_root/build_artifacts/python-jsonrpc-server_1599827444631/work
python-language-server @ file:///home/conda/feedstock_root/build_artifacts/python-language-server_1600306384607/work
python-pdfbox==0.1.8
pytz==2020.1
pyviz-comms @ file:///home/conda/feedstock_root/build_artifacts/pyviz_comms_1594121601757/work
PyWavelets @ file:///home/conda/feedstock_root/build_artifacts/pywavelets_1602504439440/work
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle @ file:///home/conda/feedstock_root/build_artifacts/qdarkstyle_1597162770358/work
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1601436771964/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1599147533948/work
QtPy==1.9.0
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1602771403505/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
requests-oauthlib==1.3.0
retrying==1.3.3
rmm==0.15.0
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1602094471915/work
rsa==4.6
Rtree==0.9.4
ruamel-yaml-conda @ file:///home/conda/feedstock_root/build_artifacts/ruamel_yaml_1602430332035/work
scikit-image==0.17.2
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1603019818699/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1602862648847/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-base_1599592695803/work
SecretStorage @ file:///home/conda/feedstock_root/build_artifacts/secretstorage_1602682501052/work
Send2Trash==1.5.0
Shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1602547954120/work
simpervisor==0.3
simplegeneric==0.8.1
singledispatch @ file:///home/conda/feedstock_root/build_artifacts/singledispatch_1602339038283/work
sip==4.19.24
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
snowballstemmer==2.0.0
sortedcollections @ file:///home/conda/feedstock_root/build_artifacts/sortedcollections_1591583091437/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1591999956871/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1597680516047/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1597405755328/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-websupport_1597058540894/work
spyder @ file:///home/conda/feedstock_root/build_artifacts/spyder_1599019148388/work
spyder-kernels @ file:///home/conda/feedstock_root/build_artifacts/spyder-kernels_1599014424482/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1602547018298/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1602599909790/work
streamz==0.6.0
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1602465632841/work
tables==3.6.1
tblib==1.6.0
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1602679586280/work
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1601589267960/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1589469402899/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1602488891005/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1602171507552/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
treelite==0.92
treelite-runtime==0.92
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
ucx-py @ file:///opt/conda/conda-bld/ucx-split_1598480337685/work/ucx-py
ujson @ file:///home/conda/feedstock_root/build_artifacts/ujson_1602281956630/work
umap-learn==0.4.6
unicodecsv==0.14.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1603125704209/work
watchdog @ file:///home/conda/feedstock_root/build_artifacts/watchdog_1602389657662/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
websocket-client==0.57.0
websockets @ file:///home/conda/feedstock_root/build_artifacts/websockets_1602327018333/work
Werkzeug==1.0.1
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1603129366146/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1602463278045/work
wurlitzer @ file:///home/conda/feedstock_root/build_artifacts/wurlitzer_1602245418747/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1600638299066/work
xgboost @ file:///opt/conda/envs/rapids/conda-bld/xgboost_1598455315728/work/python-package
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1595712200082/work
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1602583799765/work
xlwt==1.3.0
xmltodict==0.12.0
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1595950469082/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1602671009128/work
zict==2.0.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1602852756910/work
zope.event @ file:///home/conda/feedstock_root/build_artifacts/zope.event_1600479883063/work
zope.interface @ file:///home/conda/feedstock_root/build_artifacts/zope.interface_1602253339408/work
